@media screen and (max-width: 819px) {
    /*.menu{
        height: 65px;   

    }
    .btn_menu{
        display: inline-flex;
        margin-right: 30px;
        font-size: 1.3rem;
        color: #fff;
        cursor: pointer;
    }
    .menu_items{
        position: fixed;
        width: 100vw;
        height: calc(100% - 170px);
        background: #414141;
        top: -100vh;
        text-align: center;
        transition: all .5s;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .menu_items li{
        margin: 30px 0 0 0;
        line-height: 30px;
        background: none;

    }
    .menu_items li:hover{
        background: none;
        transition: .4s;

    }
    .menu_items li a{
        color: #fff;
        font-weight: bold;
        margin: 2rem;
        font-size: 1.5rem;

    }
    .menu_items li a:hover{
        color: #fff;
        text-decoration: none;
    }*/
    .menu_items{
        display: none;
    }

    .logo{
        text-align: center;
        padding: 10;
        justify-content: center;
        display: flex;
        
    }

    .imagen_foto{
        grid-area: image;
        grid-column: 2/2;
    }

    /*sobre mi*/

    .sobre_mi h1{
        grid-area: title;
        grid-column: 2/3;
        grid-row: 2/2;
        margin-top: 4.5rem;
    }
    .sobre_mi p{
        grid-row: 3/3;
        margin-top: 2rem;
    }
    
    /*skills*/

    .redes-container ul:hover a{
        filter: none;
    }
}

@media screen and (max-width:999px) {
    .skills{
        display: grid;
        justify-content: center;
        padding: 1rem;
        margin-left: 0rem;
    }

    
}