body{
    width: 100%;
    height: 100vh;
    
    background-color: #1a1a1a;
    color: #fff;
    
}
header{
    width: 10vw;
    height: 2rem;
}

/*barra de menu*/

.menu{
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fff;
}
.logo{
    color: #fff;
    font-size: 2rem;
    padding: 0 80px;
    font-weight: bold;
}
.menu_items{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-right: 30px;
}
.menu_items li{
    border-radius: 3px;
    margin: 0 5px;
}
.menu_items li a{
    padding: 7px 13px;
    text-decoration: none;
    font-size: 1.3rem;
    display: block;
    color: #fff;
}
.menu_items li:hover {
    background-color: rgba(0, 0, 0, .3);
    transition: .4s;
}
.btn_menu{
    margin-right: 30px;
    font-size: 1.3rem;
    color: #fff;
    cursor: pointer;
    display: none;
}
ul.show{
    top: 65px;
}
ul.hide{
    display: none;
}

/*sobre mi */

.sobre_mi{
    display: grid;
    grid-template-areas: 'image' 'title' 'text';
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: space-between;
    text-align: center;
    margin: 2rem 2rem;
}
.imagen_foto{
    grid-area: image;
    grid-column: 1/2;
    grid-row: 1/3;
    height: 100%;
    width: 100%;
    border-radius: 100%;
    transition: .4s;

}
.sobre_mi h1{
    grid-area: title;
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 10rem;
    margin-bottom: 0;
    font-size: 3rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 2rem;

}
.sobre_mi p{
    grid-area: text;
    grid-column: 2/3;
    grid-row: 2/3;
    font-size: 1.3rem;
    margin-top: -5rem;
    margin-bottom: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 2rem;

}

/*Proyectos*/

.proyectos{
    display: flex; 
    flex-direction: column; 
}

.titulo_proyectos{
    text-align: center;
    font-size: 3rem;
    flex-direction: row;
    margin: 2rem;

}
.titulo-tarjeta .texto-tarjeta{
    margin: 1rem;
} 
img{
    width: 100%; 
    margin: 1rem 0;
}
.tarjeta{
    max-width: 35vw;
    min-height: 35vw;
    padding: 2rem;
    margin: 48px auto;
    display: flex;
    border-radius: 6px;
    overflow: hidden;
    background: rgb(39, 38, 38);
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    cursor: default;
    transition: all 400ms ease;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.tarjeta:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    cursor: pointer;
}

/*skills*/

.titulo_skills{
    text-align: center;
    font-size: 3rem;
    flex-direction: row;
    margin: 2rem;
}
.skills{
    display:flex; 
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.skill{
    width: 200px;
    height: 200px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, .3), -5px -5px 20px rgba(0, 0, 0, .3);
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 3rem;
}



.skill:not(:last-child){margin-right: 3rem;}

.skill::before{
    content: "";
    position: absolute;
    width: 80%; height: 80%;
    border-radius: 50%;
    background-color: #131313;
    box-shadow: inset 5px 5px 20px rgba(0, 0, 0, .3), inset -5px -5px 20px rgba(0, 0, 0, .3);    
}

.skill:nth-child(1){
    background-image: conic-gradient(#f16524 70%, transparent 0);
    color: #fff;
}

.skill:nth-child(2){
    background-image: conic-gradient(#1b84c1 70%, transparent 0);
    color: #fff;
}

.skill:nth-child(3){
    background-image: conic-gradient(#46964a 60%, transparent 0);
    color: #fff;
}

.skill:nth-child(4){
    background-image: conic-gradient(#5e187e 60%, transparent 0);
    color: #fff;
}

.skill:nth-child(5){
    background-image: conic-gradient(#61DBFB 50%, transparent 0);
    color: #fff;
}

.skill:nth-child(6){
    background-image: conic-gradient(#00758F 50%, transparent 0);
    color: #fff;
}
.skill:nth-child(7){
    background-image: conic-gradient(#AEB2D5 30%, transparent 0);
    color: #fff;
}
.skill:nth-child(8){
    background-image: conic-gradient(#aaacbe 100%, transparent 0);
    color: #fff;
}
.skill span{
    font-size: 15px;
    z-index: 1;
    text-align: center;
    display: block;
}

/*contaco*/
.contacto{align-items: center;text-align: center;justify-content: center;}
.titulo_contacto{
    text-align: center;
    font-size: 1.3rem;
    flex-direction: row;
    margin: 2rem;
}
.titulo_contacto p{
    text-align: center;
    font-size: 3rem;
    flex-direction: row;
    margin: 2rem;
}

:root{
    --linkedin:#0077b5;
    --whatsapp:#25d366;
}

.redes-container{
    display: flex;
    height: 14vh;
    align-items: center;
    justify-content: center;
}
.redes-container ul li{
    display: inline-block;
    margin: 0 1rem;
    width: 50px;
    height: 50px;
    text-align: center;
}
.redes-container ul li a{
    display: block;
    padding: 0 10px;
    background: #333;
    color: white;
    line-height: 50px;
    font-size: 18px;
    box-shadow: 0 3px 5px 0px rgba(0, 0, 0, .2);
    transition: .2s;
}
.redes-container ul:hover a{
    filter: blur(2px);
}
.redes-container ul li a:hover{
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 5px 5px 0px rgba(0, 0, 0, .4);
    filter: none;
}
.redes-container ul li .linkedin{
    background: var(--linkedin);
}
.redes-container ul li .whatsapp{
    background: var(--whatsapp);
}


/*footer*/

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
}


